# Directories
boomi_components/
cloned_repo/
docs/_build/
local/
venv/

# Files
profile.html
profile.json
.dccache

# Python specific
tests/__pycache__/
tests/.pytest_cache/
.pytest_cache/

# IDE specific
.vscode/
.idea/

# Environment specific
.env

